<%- layout('layouts/boilerplate') %>

<div id="cluster-map"></div>

<div class="d-flex justify-content-center my-3">
    <h1>Fitness Centres</h1>
</div>

<div class="row">
    <% for(let gymground of gymgrounds){ %>
        <div class="col-md-4 px-3 py-4">
            <div class="card shadow border border-light bg-light" style="width: 22rem;">
                <% if(gymground.images.length) {%> 
                    <img class="img-card-a" src="<%= gymground.images[0].url %>" alt="" />
                <% }else{ %>
                    <img class="img-fluid" src="" alt="" />
                <% } %>  
                <div class="card-body text-center">
                    <h5 class="card-title "><%= gymground.title %></h5>
                    <p class="card-text"><%= gymground.description %></p>
                    <p class="class-title">
                        <small class="text-muted"><%= gymground.location %> </small>
                    </p>
                    <a href="/gymgrounds/<%= gymground._id%>" class="btn btn-primary">View <%= gymground.title %> </a>
                </div>
            </div>
        </div>
    <% } %>
</div>

<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const gymgroundsJson = '<%-JSON.stringify(gymgrounds)%>';
</script>

<script src="js/clusterMap.js"></script>
